.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 300px;
    margin: 1em;
}

.titleBox {
    border-bottom: 2px solid var(--button-color);
    margin: 1em 1em 0 1em;
    display: flex;
    justify-content: center;
}

.title{
    font-family: var(--title-font);
    margin-bottom:5px;
    color: black
}

p{
    margin: 1em;
    color: black;
    font-family: var(--hero-title-font);
    font-size: 12px;
}

