@import '../../variables.module.css';
@import '../navigationBar/NavigationBar.module.css';

.outerContainer {
    background-color: var(--primary-color);
}

.footer{

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    /*border: 2px dashed black;*/
}

.innerContainer{
    border: 2px solid red;
}

.footerBox{
    /*border: 2px brown solid;*/
    display: flex;
    align-items: center;

}

.logo{
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.instagramLogo{
    width:20px;
    margin-right: 0.5em;
}
.instagramHandle{
    color: black;

}

